body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  color: darkgoldenrod;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.html-diagram {
  background: darkred;
}

.html-diagram div {
  margin: 5px;
}




.svg-container {
  border: 5px solid blue;
}

svg {
  border: 3px solid gray;
}

.editor-half{
  display: flex;
  flex-grow: 1;
}

.yaml-container {
  width: 50%;
  flex-grow: 1;
}

.json-container {
  width: 50%;
  flex-grow: 1;
  height: 1000px;
  overflow: scroll;
  padding: 5px;
}